* {
    box-sizing: border-box;
}

*::selection {
    background: grey;
}

p::selection, a::selection, label::selection {
    color: white;
}

html, body {
    color: #777777;
    /* png from https://www.toptal.com/designers/subtlepatterns/ */
    background-image: url(../images/greek-vase.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;
}

/* fix header at top of screen, define height and add bottom border */
/* also bring forward so no content moves above it */
header {
    position: fixed;
    top: 0;
    background: #ffffff;
    height: 80px;
    width: 100%;
    left: 0;
    border-bottom: #cccccc;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    z-index: 999;
}

/* set fonts for Headers */
.hfonts {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* restricts content of header to same width as main content */
#headwrap {
    width: 960px;
    margin: 0 auto;
    padding: 0px;
}

h2 {
    color: #4aaaa5;
}

h1 {
    background: #4aaaa5;
    float: left;
    margin: 0px;
    color: #ffffff;
    height: 80px;
    padding: 20px;
    font-weight: lighter;
}

/* move header links content to the right */
.links {
    float: right;
    padding-top: 25px;
}

a {
    color: #777777;
    text-decoration: none;
    height: 0px;
}

a:hover {
    color: #48B873;
}

a:focus {
    background-color: #4aaaa5;
}

/* styles for main content section */
.section1 {
    margin: auto;
    margin-top: 80px;
    /* margin-bottom: -80px; */
    width: 960px;
    background: #ffffff;
    padding: 20px;
    border-width: 1px;
    border-color: #dddddd;
    border-style: solid;
}


.wrapper {
    min-height: calc(100vh - 80px);
    margin: 0px;
    margin-bottom: -55px;
}

.push {
    height: 55px;
}


/* fixes footer at bottom of screen, adds top border */
footer {
    bottom: 0;
    left: 0;
    background: #666666;
    width: 100%;
    border-top: #4aaaa5;
    border-style: solid;
    border-width: 8px 0px 0px 0px;
    text-align: center;
    margin: 0px;
    font-size: 11px;
    padding-top: 30px;
    padding-bottom: 5px;
}

#profilepic {
    width: 150px;
    float: left;
    margin: 0px 20px 10px 0px;
}

input, textarea {
    width: 100%;
    font-size: 15px;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
}

input:invalid {
    background-color: #B863A9;
}

#submitbutton {
    width: 75px;
    background-color: #4aaaa5;
    border: none;
    color:#ffffff;
    text-align: center;
    padding: 5px;
}

#submitbutton:hover {
    background-color: #4882B8;
}

#submitbutton:active {
    background-color: #48B873;
}

#msgbox {
    height: 250px;
}

.prjimg {
    width: 250px;
    height: 175px;
    margin: 20px;
    float: left;
}

.prjdiv {
    position: relative;
    height: auto;
    float: left;
}

.imgp, .imgh3  {
    position: absolute;
    bottom: 10px;
    width: 250px;
    text-align: center;
    margin: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    overflow: hidden;
}

.prjimg:hover, .imgp:hover {
    border-style: groove;
    border-color: #4aaaa5;
    border-width: 3px;

}

.clearbackground:active, .clearbackground:focus {
    background-color:#ffffff;
    /* outline: none; */
}


.clrfx::after {
    content: " ";
    height: 15px;
    display: block;
    clear: both;
}